<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/Survey_template.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Document</title>
</head>
<body>
	<div class="wrapper">
		<div id="main">
			<div class="contents">
				<div class="prompt">
					<div class="text" id="prompt_text">{{text}}</div>
					<div class="input" id="prompt_answer">
						<form action="{{ url_for('handle_data') }}" method="POST" enctype="multipart/form-data" id="form1">
						<input type="radio" id="star5" name="rate" value="5" required/>
						<label for="star5" title="text">5 stars</label>
						<input type="radio" id="star4" name="rate" value="4" required/>
						<label for="star4" title="text">4 stars</label>
						<input type="radio" id="star3" name="rate" value="3" required/>
						<label for="star3" title="text">3 stars</label>
						<input type="radio" id="star2" name="rate" value="2" required/>
						<label for="star2" title="text">2 stars</label>
						<input type="radio" id="star1" name="rate" value="1" required/>
						<label for="star1" title="text">1 star</label>
					</form>
						<button type="submit" form="form1" value="Submit" id="submitButton">Submit</button>
					</div>
				</div>	
			</div>
		</div>
	</div>
</body>
</html>